@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Light.ttf') format('truetype'); /* Adjust path to your font file */
    font-weight: light;
    font-style: normal;
  } 
  @font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf') format('truetype'); /* Adjust path to your font file */
    font-weight: normal;
    font-style: normal;
  } 
  @font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium.ttf') format('truetype'); /* For bold version */
    font-weight: medium;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Bold.ttf') format('truetype'); /* For bold version */
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Italic-VariableFont_wght.ttf') format('truetype'); /* For bold version */
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Raleway';
    src: url('./Raleway-VariableFont_wght.ttf') format('truetype'); /* For bold version */
    font-weight: normal;
    font-style: normal;
  }  
  @font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Bold.ttf') format('truetype'); /* For bold version */ 
    font-weight: 600;
    font-style: bold;
  }
  @font-face {
    font-family: 'Raleway';
    src: url('./Raleway-ExtraBold.ttf') format('truetype'); /* For bold version */
    font-weight: 900;
    font-style: bold;
  }